.EntrypageContainer{
  display: grid;
  grid-template-columns: 100%;
}
.userinput{
    padding: 5px;
    font-size: 15px;
    width: 150px;
    box-sizing: border-box;
}

#entrypageSelect{
    padding: 10px;
    font-size: 15px;
    width: 150px;
    justify-content: start;
}
label{
    font-size: 20px;
    padding: 10px;
    text-align: end;
}
form{
    justify-content: center;
    align-items: center;
    gap: 10px;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
    margin-top: 20px;
  }
  
th, td {
    border: 1px solid black;
    padding: 8px 12px;
    justify-content: center;
  }
  th{
    background-color: blue;
    color: white;
  }

.form-group {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 20px;
}
.entryfiltergrid{
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 10px;
}

@media print {
  body * {
    visibility: hidden;
  }

  #printSection, #printSection * {
    visibility: visible;
  }

  #printSection {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}


@media (min-width: 320px) and (max-width: 376px) {

}
@media (min-width: 376px) and (max-width: 426px){

}
@media (min-width: 426px) and (max-width: 500px){

}
@media (min-width: 500px) and (max-width: 769px){

}
@media (min-width: 769px) and (max-width: 1025px){
  .EntrypageContainer{
    grid-template-columns: 50% 50%;
  }
  .scroll_container{
    height: 80vh;
    overflow-y: scroll;
  }
}
@media (min-width: 1025px) and (max-width: 1201px){
  .EntrypageContainer{
    grid-template-columns: 50% 50%;
  }
  .scroll_container{
    height: 80vh;
    overflow-y: scroll;
  }
}
@media only screen and (min-width: 1201px) {
  .EntrypageContainer{
    grid-template-columns: 50% 50%;
  }
 
  .scroll_container{
    height: 80vh;
    overflow-y: scroll;
  }
}

